@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

ul li {
  list-style-type: none;
  display: block;
}

:root {
  --global-color-background: rgb(240, 231, 203);
  --global-color-grey-light: rgb(165, 165, 165);
  --global-color-grey-dark: rgb(84, 91, 94);
  --scale-factor: 1.3;
}

p {
  line-height: 1.5rem;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  line-height: 25px;
  height: 100%;
  width: 100%;
  background-color: #e7e2cc;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #e0dbd2;
}

img.map {
  width: 100%;
  height: auto;
}

img.flag-board {
  position: absolute;
  height: 4.5%;
  width: auto;
  top: 62.9%;
  left: 22.2%;
  z-index: 1;
}

.icons-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.icons-wrapper .icon {
  position: absolute;
  width: auto;
  height: 3.4%;
  cursor: pointer;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: icon-scaling-animation;
          animation-name: icon-scaling-animation;
}

@-webkit-keyframes icon-scaling-animation {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(var(--scale-factor));
            transform: translate(-50%, -50%) scale(var(--scale-factor));
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes icon-scaling-animation {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(var(--scale-factor));
            transform: translate(-50%, -50%) scale(var(--scale-factor));
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

.icons-wrapper .icon-112 {
  top: 10.33%;
  left: 76.7%;
}

.icons-wrapper .icon-gaivinimas {
  top: 9.3%;
  left: 82%;
}

.icons-wrapper .icon-pagalba {
  top: 10.33%;
  left: 87.3%;
}

.icons-wrapper .icon-sveikata {
  top: 31.3%;
  left: 62.3%;
}

.icons-wrapper .icon-taisykles {
  top: 31.3%;
  left: 55.6%;
}

.icons-wrapper .icon-pavojai {
  top: 31.3%;
  left: 48.9%;
}

.icons-wrapper .icon-saugumas {
  top: 33.3%;
  left: 16.4%;
}

.icons-wrapper .icon-savipagalba {
  height: 2.6%;
  top: 42.7%;
  left: 64.9%;
}

.icons-wrapper .icon-valtyje {
  top: 62.4%;
  left: 82.9%;
}

.icons-wrapper .icon-veliava {
  top: 61.1%;
  left: 26.9%;
}

.icons-wrapper .icon-iskaba {
  height: 2.5%;
  top: 71.1%;
  left: 25.5%;
}

.info-window {
  position: absolute;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  left: 50%;
  width: 50%;
  background-color: white;
  padding: 30px;
  padding-top: 40px;
  border-radius: 20px;
  z-index: 10;
}

.info-window .btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-image: url("./images/close.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.info-window .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.info-window .text h3 {
  font-weight: 600;
  margin-bottom: 20px;
}

.info-window .text p {
  text-align: start;
  margin-bottom: 10px;
}

.info-window .text ul {
  margin: 0;
  margin-bottom: 10px;
}

.info-window .text ul li {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: start;
  position: relative;
}

.info-window .text ul li::first-letter {
  text-transform: capitalize;
  border: 1px solid red;
}

.info-window .text ul li span {
  text-decoration: underline;
}

.info-window .text ul li div {
  position: absolute;
  left: 0px;
  margin-top: 10px;
  width: 8px;
  min-width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: black;
}

@media (max-width: 1024px) {
  .info-window {
    width: calc(100% - 200px);
  }
}

@media (max-width: 420px) {
  :root {
    --scale-factor: 1.5 !important;
  }
  .info-window {
    top: 0;
    padding-top: 50px;
    -webkit-transform: translate(-50%, 10px);
            transform: translate(-50%, 10px);
    width: calc(100% - 20px);
    font-size: 13px;
    line-height: 17px;
  }
  .info-window .btn-close {
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
  }
  .info-window p {
    line-height: 17px;
  }
  .info-window .text ul li {
    padding-left: 12px;
  }
  .info-window .text ul li div {
    margin-top: 4px;
    width: 6px;
    min-width: 6px;
    height: 6px;
  }
}
/*# sourceMappingURL=index.css.map */